graft src
graft ui
graft scripts

prune .github

prune data
prune docs
prune examples
prune temp
prune tests
prune src/compas_rv2/web/electron
prune src/compas_rv2/web/node_modules
prune ui/Rhino/RV2/dev/icons/RhinoMac

include LICENSE
include README.md
include AUTHORS.md
include CHANGELOG.md
include requirements.txt

exclude requirements-dev.txt
exclude pytest.ini .bumpversion.cfg .editorconfig
exclude tasks.py
exclude CONTRIBUTING.md

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store Thumbs.db
